/* НИЖЕ БУДУТ УКАЗАННЫ СТАТИЧЕСКИЕ СТИЛИ КАСТОМНЫХ ЭЛЕМЕНТОВ ДЛЯ АВАТАРОК СОТРУДНИКОВ */

.avatar_div_style_conteiner {
  position: relative;
  margin: 50px 0 0 50px;
  padding: 0;
  width: 550px;
  height: 700px;
}

.avatar_div_text_style_conteiner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
  height: 200px;
  top: 10px;
  right: 0;
}

.avatar_text1_style {
  font-size: 35px;
  font-weight: 900;
  margin: 0;
}

.avatar_text2_style {
  font-size: 20px;
  font-weight: normal;
}

.avatar_image_style {
  position: absolute;
}