.elementor-564 .elementor-element.elementor-element-fbb0696 .elementor-field-group .elementor-field, .elementor-564 .elementor-element.elementor-element-fbb0696 .elementor-field-subgroup label > option {
  border-radius: 30px;
  background-color: rgb(150, 150, 185);
  
}
.elementor *, .elementor :after, .elementor :before {
    background-color: rgb(196, 11, 11);
  }

  .elementor-564 .elementor-element.elementor-element-fbb0696 .elementor-field-group .elementor-select-wrapper select option {
    background-color: rgb(196, 11, 11);
  }