.head_block_div {
    position: relative;
    background-image: url("../../../../public/image/Head-block-backgraund.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 599px;
    margin: 0;
}

.head_block_title {
    position: absolute;
    top: 70px;
    left: 124px;
    margin: 0;
    font-size: 64px;
    font-weight: normal;
}