/*Все стили прописанные ниже относятся глобально ко всем блокам аватарки и описания владельца аватарки*/

.first_page_team_Div {
  display: flex;
  margin: 10% 0 0 0;
  width: 100%;
  min-height: 0;
}

.first_page_team_second_block_Div_Left {
  order: 2;
  width: 100%;
  min-height: 0;
}

.first_page_team_second_block_Div_Right {
  order: 1;
}

.avatar_div_style_conteiner {
  position: relative;
  margin: 50px 0 0 50px;
  padding: 0;
  width: 550px;
  height: 700px;
}

.avatar_div_text_style_conteiner {
  position: absolute;
  width: 70%;
  height: 200px;
  top: 10px;
  right: 0;
}

.avatar_text1_style {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 35px;
  font-weight: 900;
  margin: 0;
}

.avatar_text2_style {
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 20px;
  font-weight: normal;
}

.avatar_image_style {
  position: absolute;
}

.info_Div_List_Text {
  display: flex;
  width: 100%;
  min-height: 0;
}

.info_Line_List_Text {
  background-color: black;
  width: 5px;
  min-height: 0;
  margin: 0 0 0 2%;
}

.info_Ul_List_Text {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 0 10%;
}

/*Все стили прописанные ниже относятся локально ко стилям второго блока где Сергей, через доп классы*/

.avatar_div_Add_style_conteiner_sekond_block{
    margin: 0;
}

.avatar_div_Add_text_style_conteiner_sekond_block{
    top: 0;
    left: 0;
}


/*Ниже находится медиа=запрос для абаптации страницы под мобильную версию*/

@media screen and (max-width: 1000px) {
  .first_page_team_Div {
    display: block;
  }
  .first_page_team_second_block_Div_Left {
    order: 1;
  }
  .first_page_team_second_block_Div_Right {
    order: 2;
  }
}
