/*все стили ниже описывают глобальные стили для контейнера отображения правой и левой части, для файла firstPageTeam.jsx*/

.first_page_team_Div {
  display: flex;
  margin: 10% 0 0 0;
  width: 100%;
  min-height: 0;
}

.first_page_team_second_block_Div_Left {
  order: 2;
  width: 100%;
  min-height: 0;
}

.first_page_team_second_block_Div_Right {
  order: 1;
}

/*все стили ниже описывают глобальные стили списка с описанием человека*/

.info_Div_List_Text {
  display: flex;
  width: 100%;
  min-height: 0;
}

.info_Line_List_Text {
  background-color: black;
  width: 3px;
  min-height: 0;
  margin: 0 0 0 2%;
  order: 1;
}

.info_Ul_List_Text {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 0 10%;
  order: 2;
}

/*Все стили прописанные ниже относятся локально ко стилям второго блока где Сергей, через доп классы*/

.avatar_div_text_style_conteiner_second_block {
  align-items: flex-start;
  top: 0;
  left: 0;
}

.avatar_image_style_second_block {
  top: 30px;
  right: 0px;
}

.info_Line_List_Text_Second_Block {
  order: 2;
}

.info_Ul_List_Text_Second_Block {
  order: 1;
}

/*Ниже находится медиа=запрос для абаптации страницы под мобильную версию*/

@media screen and (max-width: 1000px) {
  .first_page_team_Div {
    display: block;
  }
  .first_page_team_second_block_Div_Left {
    order: 1;
  }
  .first_page_team_second_block_Div_Right {
    order: 2;
  }

  .info_Line_List_Text {
    display: none;
  }
}
