.conteiner_Div_footer_down_Global {
  background-color: black;
  color: white;
  width: 100%;
  min-height: 0;
}

.conteiner_Div_footer_down {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.conteiner_Sub_Div_footer_down {
  display: flex;
  flex-wrap: wrap;
}

.conteiner_Div_footer_down_text {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0 0 0;
}

.footer_down_text_1 {
  margin-bottom: 20px;
}

.footer_down_text_2 {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

.footer_line {
  width: 99%;
  height: 1px;
  background-color: white;
  opacity: 0.7;
  margin: 0;
}
